:root {
	--color-base: #212121;
	--color-highlight: #ff9800;
	--color-background: #eeeeee;
	--font-sans: 'Ronzino';
	--font-title: 'Mattone';
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-base: #eeeeee;
		--color-highlight: #ff9800;
		--color-background: #212121;
	}
}

* {
	color: var(--color-base);
	background-color: var(--color-background);
	font-family: 'Ronzino';
}
